html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 15px 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
div.required label.control-label:after {
    content: " *";
    color: red;
}
a:hover{text-decoration: none;}
.navbar{margin-bottom:10px;}
.navbar-nav > li {
    float: left;
}
.navbar-collapse.collapse {
    display: block !important;
    overflow: visible !important;
    height: auto !important;
    padding-bottom: 0;
}
.navbar-toggle {
    display: none;
}
html, body { height: 100%; font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif; }
blockquote { font-size: inherit; }
ul { padding-left: 20px; }
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
pre { background: #F0F0F0; }
.row > [class*="col-"] { padding-left: 10px; padding-right: 10px; }
.label { font-size: 12px; font-weight: normal; line-height: 1.4em; }
.tag { font-size: 12px; color: #999; line-height: 12px; padding: 5px 10px; margin: 0px 5px 5px 0px; border-radius: 16px; display: inline-block; border: 1px solid #ccc; }
.tag:hover {color: #666; text-decoration: none; border: 1px solid #ccc; box-shadow: 0px 1px 2px rgba(0, 0, 32, 0.1); }
.dot { margin: 0 10px; }
.action { border-bottom: #eee solid 1px; padding-bottom: 10px; margin-bottom: 20px; color: #999; }
.action a { color: #999; text-decoration: none; }
.action em {font-style: normal;}
.action .user, .action .time, .action .views, .action .favourites, .action .comments, .action .answers, .action .replies { margin-right:15px; }
.action .money { float: right; }